body {
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.container {
  text-align: center;
}

.timer {
  position: relative;
  width: 220px;
  height: 220px;
}

svg {
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 10;
  stroke: #1e293b;
}

#progress {
  stroke: #38bdf8;
  stroke-dasharray: 565;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
}

#time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}
